[Unit]
Description=Eureka Service Discovery

[Service]
User=mhachem
WorkingDirectory=/home/deployments/eureka-registry
ExecStart=/bin/bash /home/deployments/eureka-registry/start.sh

SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
